a {
  text-decoration: none;
}

a:hover {
  background-color: hsl(220, 20%, 95%);
}

a:active,
a:focus {
  background-color: hsl(220, 20%, 90%);
}

@media (prefers-color-scheme: dark) {
  a:hover {
    background-color: hsl(220, 20%, 20%);
  }

  a:active,
  a:focus {
    background-color: hsl(220, 20%, 25%);
  }
}
