<header class="slot-content" slot="header">
    <div style="display: flex; align-items: center;">
    <img src="../favicon_alt.svg" style="height: 50px; border: #88aece solid 0.1rem" alt="logo">
    <h1 style="padding-left: 1rem;">FHIR Beacon</h1>
    </div>
    <div class="toolbar">
        <div id="search" class="search"></div>
    </div>
    {{ include "../../_components/theme-toggle.vto" }}
</header>