    <html lang='{{ it.lang || "en" }}' class="wa-cloak">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || it.basename }}</title>

    <meta name="supported-color-schemes" content="light dark">
    <meta
      name="theme-color"
      content="hsl(220, 20%, 100%)"
      media="(prefers-color-scheme: light)"
    >
    <meta
      name="theme-color"
      content="hsl(220, 20%, 10%)"
      media="(prefers-color-scheme: dark)"
    >

    <script src="https://kit.fontawesome.com/d8e075196b.js" crossorigin="anonymous"></script>
    <script src="https://kit.webawesome.com/0dd99a4d5b9c43e5.js" crossorigin="anonymous"></script>
    <script type="module" src="/menu.js"></script>
    <script type="module" src="/copy-code-button.js"></script>
    <link rel="canonical" href="{{ url |> url(true) }}">
    {{ it.extra_head?.join("\n") }}
  </head>

  <body>
    <wa-page view="mobile" navigation-placement="start">
        <!-- banner          -->
        {{ include "./header.vto" }}
        <!-- subheader       -->
        {{ include "./navigation.vto" }}

        {{ include "./article/header.vto" }}
        {{ include "./article/article.vto" }}
        {{ include "./article/footer.vto" }}
        {{ include "./article/menu.vto" }}

        {{ include "./footer.vto" }}
    </wa-page>
  </body>
</html>
