<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FHIR Beacon</title>
    <script src="/main.js" type="module"></script>
  </head>
  <body>
    {{ include "../_components/header.vto" }}
    <main>
        {{ content }}
    </main>
    {{ include "../_components/footer.vto" }}
  </body>
</html>