<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <title>FHIR Beacon</title>
    <script src="https://kit.webawesome.com/0dd99a4d5b9c43e5.js" crossorigin="anonymous"></script>
    <script src="/main.js" type="module"></script>
    <link rel="stylesheet" href="/archive/stylese/styles/base.css">
    <link id="fbd-viewer-css" rel="stylesheet" href="/archive/stylese/styles/stackoverflow-dark.css">
  </head>
  <body>
    <wa-page view="mobile" navigation-placement="start">
        <header class="slot-content" slot="header">
            {{ include "../_components/header.vto" }}
        </header>
        <div class="slot-navigation" slot="navigation">
            {{ include "../_components/menu.vto"}}
        </div>
        <div class="content">
            {{ content }}
        </div>
        <footer class="slot-content" slot="footer">
            {{ include "../_components/footer.vto" }}
        </footer>
    </wa-page>
  </body>
</html>