---
layout: layouts/base.vto
title: Getting Started
---
<h1>Getting Started</h1>

<p>Since FHIR Beacon is a web component library, you can use it with most major frameworks (Next, React, Vue, Angular, etc.), or you can use it with static site generators or even in single html files.</p>
